
body {
    margin: 1px;
    font-size: 2em;
    border: 1px solid $color;
    padding: $padding;

    .class1 {
        margin-left: 10px;
        width: 100%;
        background-color: $color;
        padding: $padding;
    }
}