.text-area {
    -fx-background-color: white;
}

.text-area .scroll-pane, .text-area .scroll-pane .viewport, .text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.menu:hover, .menu:showing {
    -fx-background-color: #FF0094;
}

.menu-item:hover {
    -fx-background-color: #0096C9;
}

#htmleditor .header {
    -fx-content-display: none;
}

.purple {
    -fx-fill: #FF0094;
}

.blue {
    -fx-fill: #0096C9;
}

.default {
    -fx-fill: #000;
}

.bold {
    -fx-font-weight: bold;
}

.error {
    -fx-underline: true;
    -fx-border-width: 0 0 1 0;
}